<section class="content-2 col-4" id="features1-77" style="background-color: rgb(28, 73, 110);">
	<div class="container">
		<div class="row">
			<div>
				<div class="thumbnail">
					<div class="image"><img class="undefined" src="/content/dam/mobirise/maps-350x350-26.png"></div>
					<div class="caption">
						<div>
							<h3>GOOGLE MAPS</h3>
							<p>Duis sodales arcu eget gravida mollis. Sed condimentum nibh at dapibus semper. Etiam mattis leo at commodo eleifend. Integer mauris est, luctus vitae lobortis sed, tristique in eros. </p>
						</div>
						<p class="group"><a href="https://mobirise.com/" class="btn btn-info">LEARN MORE</a></p>
					</div>
				</div>
			</div>
			<div>
				<div class="thumbnail">
					<div class="image"><img class="undefined" src="/content/dam/mobirise/facebook-350x350-71.png"></div>
					<div class="caption">
						<div>
							<h3>SOCIAL BUTTONS</h3>
							<p>Duis sodales arcu eget gravida mollis. Sed condimentum nibh at dapibus semper. Etiam mattis leo at commodo eleifend. Integer mauris est, luctus vitae lobortis sed, tristique in eros.&nbsp;</p>
						</div>
						<p class="group"><a href="https://mobirise.com/" class="btn btn-info">LEARN MORE</a></p>
					</div>
				</div>
			</div>
			<div>
				<div class="thumbnail">
					<div class="image"><img class="undefined" src="/content/dam/mobirise/bytafont-350x350-38.png" data-pin-nopin="true"></div>
					<div class="caption">
						<div>
							<h3>GOOGLE FONTS</h3>
							<p>Duis sodales arcu eget gravida mollis. Sed condimentum nibh at dapibus semper. Etiam mattis leo at commodo eleifend. Integer mauris est, luctus vitae lobortis sed, tristique in eros. </p>
						</div>
						<p class="group"><a href="https://mobirise.com/" class="btn btn-info">LEARN MORE</a></p>
					</div>
				</div>
			</div>
			<div>
				<div class="thumbnail">
					<div class="image"><img class="undefined" src="/content/dam/mobirise/youtube-350x350-69.png"></div>
					<div class="caption">
						<div>
							<h3>VIDEO BACKGROUND</h3>
							<p>Duis sodales arcu eget gravida mollis. Sed condimentum nibh at dapibus semper. Etiam mattis leo at commodo eleifend. Integer mauris est, luctus vitae lobortis sed, tristique in eros. </p>
						</div>
						<p class="group"><a href="https://mobirise.com/" class="btn btn-info">LEARN MORE</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>