<sly data-sly-test="${!properties.text}" data-sly-include="/apps/enigmatic/edit.html" />
<section data-sly-test="${properties.text}" class="msgbox-1"
	data-sly-use.helper="pl.enigmatic.aem.ResourceComponent" id="${helper.id}"
	style="background-color: ${properties.backgroundColor @ context='styleToken'};">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<h2 data-sly-use.ils="${'pl.enigmatic.aem.labels.inherited.InheritedLabelsSubstitutor' @ text=properties.text}">${ils.text}</h2>
			</div>
			<div class="col-sm-4" data-sly-use.hasChildren="pl.enigmatic.aem.HasChildren">
				<div class="group" data-sly-test="${!wcmmode.disabled || hasChildren['links']}"
					data-sly-resource="${'links' @ resourceType='enigmatic/foundation/parsys'}"></div>
			</div>
		</div>
	</div>
</section>
