<section class="mbr-gallery mbr-section mbr-section--no-padding"
	style="background-color: ${properties.backgroundColor @ context='styleToken'};"
	data-sly-use.helper="pl.enigmatic.aem.ResourceComponent" id="${helper.id}"
	data-sly-use.items="${'pl.enigmatic.aem.ResourceComponent' @ path='items'}">

	<sly data-sly-include="complex.html" />

	<!-- Gallery -->
	<div class="container mbr-section__container mbr-gallery-layout-article mbr-section__container--middle">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="row mbr-gallery-row no-gutter" data-sly-list="${items.listChildren}">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mbr-gallery-item">
					<sly data-sly-test="${!wcmmode.disabled}" data-sly-resource="${item.path}" />
					<a href="#lb-${helper.id}" data-slide-to="${itemList.index}" data-toggle="modal">
						<sly data-sly-resource="${item.path @ selectors='image', wcmmode='disabled'}" />
						<span class="icon glyphicon glyphicon-zoom-in"></span>
					</a>
					<sly data-sly-resource="${item.path @ selectors='title', wcmmode='disabled'}" />
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<!-- Lightbox -->
	<div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-${helper.id}">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<ol class="carousel-indicators" data-sly-list="${items.listChildren}">
						<li data-app-prevent-settings="" data-target="#lb-${helper.id}" data-slide-to="${itemList.index}"
							data-sly-attribute.class="${itemList.last ? 'active' : null}"></li>
					</ol>
					<div class="carousel-inner" data-sly-list="${items.listChildren}">
						<div class="item ${itemList.last ? 'active' : null}">
							<sly data-sly-resource="${item.path @ selectors='image', wcmmode='disabled'}" />
						</div>
					</div>
					<a class="left carousel-control" role="button" data-slide="prev" href="#lb-${helper.id}">
						<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" role="button" data-slide="next" href="#lb-${helper.id}">
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
					<a class="close" href="#" role="button" data-dismiss="modal">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						<span class="sr-only">Close</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>