<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="testimonials1-88" style="background-color: rgb(255, 255, 255);">
	<div>
		<div class="mbr-section__container mbr-section__container--std-padding container">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="mbr-section__header">WHAT OUR FANTASTIC USERS SAY</h2>
					<ul class="mbr-reviews mbr-reviews--wysiwyg row">
						<li class="mbr-reviews__item col-sm-6 col-md-4">
							<div class="mbr-reviews__text"><p class="mbr-reviews__p">“Nullam cursus sed nibh nec commodo. Ut mattis mi at magna vestibulum, vel mattis dolor vulputate. Vestibulum egestas libero sit amet nisi feugiat, id molestie quam cursus. ”</p></div>
							<div class="mbr-reviews__author mbr-reviews__author--short">
								<div class="mbr-reviews__author-name">NANCY</div>
								<div class="mbr-reviews__author-bio">User</div>
							</div>
						</li><li class="mbr-reviews__item col-sm-6 col-md-4">
							<div class="mbr-reviews__text"><p class="mbr-reviews__p">“Curabitur dignissim tempus libero at aliquam. Sed arcu nisi, maximus sit amet nulla quis, faucibus sollicitudin lacus. Quisque sed nulla at leo cursus finibus sed hendrerit risus. Maecenas euismod faucibus ornare. Sed tellus elit, fringilla in malesuada nec, volutpat vel ligula.”</p></div>
							<div class="mbr-reviews__author mbr-reviews__author--short">
								<div class="mbr-reviews__author-name">JOHN</div>
								<div class="mbr-reviews__author-bio">User</div>
							</div>
						</li><li class="mbr-reviews__item col-sm-6 col-md-4">
							<div class="mbr-reviews__text"><p class="mbr-reviews__p">“In tempus arcu a urna maximus, at porta felis laoreet. Vestibulum dui ipsum, varius ac ante sed, volutpat faucibus mauris. Morbi viverra ipsum ut lacinia pretium. Vivamus sit amet quam sed lorem rhoncus gravida. ”</p></div>
							<div class="mbr-reviews__author mbr-reviews__author--short">
								<div class="mbr-reviews__author-name">MARK</div>
								<div class="mbr-reviews__author-bio">User</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>