<sly data-sly-test.editmode="${!(wcmmode.disabled || wcmmode.preview)}" />
<section class="mbr-section mbr-section--relative mbr-section--fixed-size" style="background-color: rgb(80, 80, 80);">
    <div class="mbr-section__container container">
        <div class="mbr-contacts mbr-contacts--wysiwyg row">
            <sly data-sly-test="${editmode}">
                <p class="author-msg-box author-notice">
                    This component illustrates the alternative where we use content instead of i18n.
                    It contains 2 separate sections showing basic usage scenarios.
                </p>

                <hr />
                <p class="author-msg-box author-notice">
                    Scenario #1 - a component that is used only once within a language branch.
                </p>
            </sly>
            <p>${properties.text}</p>

            <hr />
            <p data-sly-test="${editmode}" class="author-msg-box author-notice">
                Scenario #2 - <strong>truly</strong> shared labels. One can imagine that it makes a lot of sense
                to extract common button labels and <strong>NOT</strong> to set them each time again and again.
            </p>
            <p>
                <a href="#" class="btn btn-info" style="margin-right: 1em;">${labels.yes}</a>
                <a href="#" class="btn btn-default">${labels.no}</a>
            </p>

            <sly data-sly-test="${editmode}">
                <br /><hr />
                <p class="author-msg-box author-edit">
                    Let's see the language pages now maybe?
                </p>
                <p class="author-msg-box author-edit">
                    How about we add this component in a new page?
                </p>
                <p class="author-msg-box author-edit">
                    How about we use the same label in another component?
                </p>

                <br /><hr />
                <p class="author-msg-box author-success">
                    Let's see CRX DE now to show how you define it
                    in a <strong>dialog</strong> and how you'd use it in <strong>HTL</strong>.
                </p>

                <br /><hr />
                <p class="author-msg-box author-error">
                    Now, let's see how <strong>i18n</strong> is supposed to be used by design...
                </p>
            </sly>
        </div>
    </div>
</section>