<section class="content-2 col-${properties.columnsNumber}"
	data-sly-use.helper="pl.enigmatic.aem.ResourceIDComponent" id="${helper.id}"
	style="background-color: ${properties.backgroundColor @ context='styleToken'};">
	<div class="container">
		<div class="row" data-sly-use.range="${'pl.enigmatic.aem.Range' @ to=properties.columnsNumber}"
			data-sly-list="${range.iterator}">
			<div data-sly-test.path="items/par_${item}"
				data-sly-resource="${path @ resourceType='enigmatic/foundation/parsys'}"></div>
		</div>
	</div>
</section>