<section class="mbr-slider mbr-section mbr-section--no-padding carousel slide" data-ride="carousel" data-wrap="true" data-interval="5000"
	data-sly-use.helper="pl.enigmatic.aem.ResourceComponent" id="${helper.id}">
	<div class="mbr-section__container container article-slider mbr-section__container--middle">
		<div class=" col-sm-8 col-sm-offset-2">
			<ol class="carousel-indicators">
				<li data-app-prevent-settings="" data-target="#${helper.id}" data-slide-to="0" class="active"></li>
				<li data-app-prevent-settings="" data-target="#${helper.id}" data-slide-to="1"></li>
				<li data-app-prevent-settings="" data-target="#${helper.id}" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center active">
					<div class="mbr-box__magnet">
						<div>
							<img src="/content/dam/mobirise/iphone-1067982-1920-1920x1439-90.jpg" />
							<div class="row"><div class="col-sm-8 col-sm-offset-2">
								<div class="mbr-hero">
									<h1 class="mbr-hero__text">BLOG CAROUSEL</h1>
								</div>
							</div></div>
						</div>
					</div>
				</div>
				<div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center">
					<div class="mbr-box__magnet">
						<div>
							<img src="/content/dam/mobirise/iphone-1067975-1920-1920x1439-5.jpg" />
							<div class="row"><div class="col-sm-8 col-sm-offset-2">
								<div class="mbr-hero"></div>
							</div></div>
						</div>
					</div>
				</div>
				<div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center">
					<div class="mbr-box__magnet">
						<div>
							<img src="/content/dam/mobirise/iphone-1067991-1920-1920x1440-29.jpg" />
							<div class="row"><div class="col-sm-8 col-sm-offset-2">
								<div class="mbr-hero">
									<h1 class="mbr-hero__text">BOOTSTRAP BLOG SLIDER</h1>
									<p class="mbr-hero__subtext">Choose from the large selection of latest pre-made blocks - jumbotrons, hero images,
										parallax scrolling, video backgrounds, hamburger menu, sticky header and more.</p>
								</div>
								<div class="mbr-buttons btn-inverse mbr-buttons--center"><a class="mbr-buttons__btn btn btn-lg btn-info" href="https://mobirise.com/">MORE..</a></div>
							</div></div>
						</div>
					</div>
				</div>
			</div>
			<a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#${helper.id}">
				<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
				<span class="sr-only">${inheritedPageProperties.previous}</span>
			</a>
			<a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#${helper.id}">
				<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
				<span class="sr-only">${inheritedPageProperties.next}</span>
			</a>
		</div>
	</div>
</section>