<sly data-sly-test="${!properties.text}" data-sly-include="/apps/enigmatic/edit.html" />
<section data-sly-test="${properties.text}" class="mbr-section"
	data-sly-use.helper="pl.enigmatic.aem.ResourceComponent" id="${helper.id}"
	style="background-color: ${properties.backgroundColor @ context='styleToken'};">
	<div class="mbr-section__container container mbr-section__container--middle">
		<div class="row">
			<div class="mbr-article mbr-article--wysiwyg ${component.properties.css}"
				data-sly-include="content.html"></div>
		</div>
	</div>
</section>