<sly data-sly-test="${!properties.nameLabel}" data-sly-include="/apps/enigmatic/edit.html" />
<section data-sly-test="${properties.nameLabel}"
	class="mbr-section mbr-section--relative mbr-section--fixed-size"
	data-sly-use.helper="pl.enigmatic.aem.ResourceComponent" id="${helper.id}"
	style="background-color: ${properties.backgroundColor @ context='styleToken'};">
	<p data-sly-test="${!(wcmmode.disabled || wcmmode.preview)}" class="author-msg-box author-notice">
		Please keep in mind that to make this component work you will need to cooperate with someone in your organization who has proper privilege to
		edit configuration of <a href="/system/console/configMgr/com.day.cq.mailer.DefaultMailService" target="_blank" x-cq-linkchecker="valid">DefaultMailService</a>.
		Otherwise the mails might not be sent properly.
	</p>
	<div class="mbr-section__container mbr-section__container--std-padding container">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2" data-form-type="formoid">
						<div data-sly-test="${properties.title}" class="mbr-header mbr-header--center mbr-header--std-padding">
							<h2 class="mbr-header__text">${properties.title}</h2>
						</div>
						<div data-form-alert="true"></div>
						<form action="${resource.path}.send" method="post" data-form-title="${properties.title}">
							<input type="hidden" value="" data-form-email="true" />
							<div class="form-group">
								<input type="text" class="form-control" name="name" required="required" placeholder="${properties.nameLabel}*" data-form-field="${properties.nameLabel}" />
							</div>
							<div class="form-group">
								<input type="email" class="form-control" name="email" required="required" placeholder="${properties.emailLabel}*" data-form-field="${properties.emailLabel}" />
							</div>
							<div class="form-group">
								<input type="text" class="form-control" name="subject" required="required" placeholder="${properties.subjectLabel}*" data-form-field="${properties.subjectLabel}*" />
							</div>
							<div class="form-group">
								<input type="tel" class="form-control" name="phone" placeholder="${properties.phoneLabel}" data-form-field="${properties.phoneLabel}" />
							</div>
							<div class="form-group">
								<textarea class="form-control" name="message" placeholder="${properties.messageLabel}" rows="7" data-form-field="${properties.messageLabel}"></textarea>
							</div>
							<div class="mbr-buttons mbr-buttons--right"><button type="submit" class="mbr-buttons__btn btn btn-lg btn-warning">${properties.buttonLabel}</button></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>