<sly data-sly-test="${!properties.text}" data-sly-include="/apps/enigmatic/edit.html" />
<section data-sly-test="${properties.text}" class="mbr-section mbr-section--relative mbr-section--fixed-size"
	data-sly-use.helper="pl.enigmatic.aem.ResourceComponent" id="${helper.id}"
	style="background-color: ${properties.backgroundColor @ context='styleToken'};">
	<div class="mbr-section__container container mbr-section__container--isolated">
		<div class="mbr-header mbr-header--wysiwyg row">
			<div class="col-sm-8 col-sm-offset-2" data-sly-unwrap="${properties.align == 'left'}">
				<h3 data-sly-use.ils="${'pl.enigmatic.aem.labels.inherited.InheritedLabelsSubstitutor' @ text=properties.text}"
					class="mbr-header__text">${ils.text}</h3>
			</div>
		</div>
	</div>
</section>
