<section class="mbr-section mbr-section--relative mbr-section--fixed-size" style="background-color: rgb(80, 80, 80);">
    <div class="mbr-section__container container">
        <div class="mbr-contacts mbr-contacts--wysiwyg row">
            <p data-sly-test="${wcmmode.edit}" class="author-msg-box author-notice">
                This component illustrates the alternative where we use content instead of i18n.
                It contains 2 separate sections showing basic usage scenarios.
            </p>

            <hr />
            <p data-sly-test="${wcmmode.edit}" class="author-msg-box author-notice">
                Scenario #1 - truly shared labels. One can imagine that it makes a lot of sense
                to extract common button labels and NOT to set them each time again and again.
            </p>
            <p><a href="#" class="btn btn-info">${labels.yes}</a></p>
            <p><a href="#" class="btn btn-default">${labels.no}</a></p>

            <hr />
            <p data-sly-test="${wcmmode.edit}" class="author-msg-box author-notice">
                Scenario #2 - a component that is used only once within a language branch.
            </p>
            <p>${properties.text}</p>
            <p data-sly-test="${wcmmode.edit}" class="author-msg-box author-warning">
                Though what if you changed your mind and wanted to use it elsewhere in the same language branch?
            </p>

            <br /><br /><hr />
            <p data-sly-test="${wcmmode.edit}" class="author-msg-box author-edit">
                Let's see the language pages now maybe?
            </p>
            <p data-sly-test="${wcmmode.edit}" class="author-msg-box author-edit">
                How about we add this component in a new page?
            </p>
            <p data-sly-test="${wcmmode.edit}" class="author-msg-box author-edit">
                How about we use the same label in another component?
            </p>

            <br /><br /><hr />
            <p data-sly-test="${wcmmode.edit}" class="author-msg-box author-success">
                Let's see CRX DE now to show how you define it in a dialog and how you'd use it in HTL.
            </p>
        </div>
    </div>
</section>