<section class="mbr-section mbr-section--relative mbr-section--fixed-size" style="background-color: rgb(80, 80, 80);">
    <div class="mbr-section__container container">
        <div class="mbr-contacts mbr-contacts--wysiwyg row">
            <ul>
                <li>${labels['i18n-label-local']}</li>
                <li>${labels['i18n-label-global']}</li>
                <li>${labels['local-label-set']}</li>
                <li>${labels['global-label-set']}</li>
                <li>${labels['local-label-unset']}</li>
                <li>${labels['global-label-unset']}</li>
            </ul>
        </div>
    </div>
</section>
