<section class="mbr-section mbr-section--relative"
	data-sly-use.helper="pl.enigmatic.aem.ResourceComponent" id="${helper.id}"
	style="background-color: ${properties.backgroundColor @ context='styleToken'};">
	<div class="mbr-section__container mbr-section__container--isolated container">
		<div class="row">
			<div class="mbr-box mbr-box--fixed mbr-box--adapted">
				<div class="mbr-box__magnet mbr-box__magnet--top-right mbr-section__left col-sm-6">
					<figure class="mbr-figure mbr-figure--adapted mbr-figure--caption-inside-bottom mbr-figure--full-width"
						data-sly-resource="${'image' @ resourceType='mobirise/components/content/imagebox/image'}"></figure>
				</div>
				<div class="mbr-box__magnet mbr-class-mbr-box__magnet--center-left col-sm-6 mbr-section__right">
					<div data-sly-test="${properties.title}" class="mbr-section__container mbr-section__container--middle">
						<div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
							<h3 class="mbr-header__text">${properties.title}</h3>
						</div>
					</div>
					<div data-sly-test="${properties.text}" class="mbr-section__container mbr-section__container--middle">
						<div class="mbr-article mbr-article--auto-align mbr-article--wysiwyg">
							<p>${properties.text}&nbsp;</p>
						</div>
					</div>
					<div data-sly-use.hasChildren="pl.enigmatic.aem.HasChildren" data-sly-test="${!wcmmode.disabled || hasChildren['links']}"
						class="mbr-section__container">
						<div data-sly-resource="${'links' @ resourceType='enigmatic/foundation/parsys'}"
							class="mbr-buttons mbr-buttons--auto-align btn-inverse"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>