<section class="mbr-section mbr-section--relative mbr-section--fixed-size"
	style="background-color: ${properties.backgroundColor @ context='styleToken'};">
	<div class="mbr-section__container mbr-section__container--std-padding container">
		<div class="row">
			<div class="col-sm-12">
				<h2 data-sly-test="${properties.text}" class="mbr-section__header">${properties.text}</h2>
				<div data-sly-resource="${'items' @ resourceType='enigmatic/foundation/parsys'}"></div>
			</div>
		</div>
	</div>
</section>